@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
body
{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    background: #fffaf0;
}
div {
    padding: 1em 0;
}
h1
{
    text-align: center;
}

button {
    position: absolute;
}

.orbit {
    text-align: center;
    background: #fffaf0;
}

.worms {
    text-align: center;
    background: black;
    color:#fffaf0;
}

.balloon {
    text-align: center;
    background: black;
    color: #fffaf0;
}

img {
    height: 75%;
    width: 75%;
    padding: 1em;
    border-radius: 1.5em;
}
h3 {
    text-align: center;
    margin: 0;
    padding-top: 1em;
}
@media (min-width: 930px)
{
    h1 {
        text-align: left;
        padding: 1em;
    }

    h3 {
        padding-top: 0;
        position: absolute;
        margin-top: 3em;
        text-align: left;
        padding: 0 2em;
    }
    img {
        height: 50%;
        width: 50%;
    }
}

@media (min-width: 1440px)
{
    img {
        height: 33%;
        width: 33%;
    }
    div {
        padding: 2em 0;
    }
    h3 {
        margin-top: 4em;
        padding: 0 5em;
        font-size: 1.5em;
    }
}